body {
    background-color: rgb(3, 60, 59);
    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    padding: 15px;
    background-color: rgb(4, 59, 32);
    color: chartreuse;
    margin-right: 10px;
    padding-top: 15px;
    width: 100%;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    line-height: center;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-align: right;
}

a {
    color: chartreuse;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.top-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.top-right {
    margin: 20px;
    height: 25%;
    width: 25%;
    border: solid 10px darkgreen;
    border-radius: 50%;
}

.top-left h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: chartreuse;
    font-size: 40px;
    margin-right: 15px;
}

.top-left h1 span {
    color: chartreuse;
    font-size: 20px;
}

.About-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

article {
    text-align: left;
    border: 10px solid darkgreen;
    line-height: 32px;
    border-radius: 15px;
    font-size: 25px;
    padding: 20px;
    margin: 50px;
    max-width: 1000px;
}



article p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chartreuse;
}

article h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: chartreuse;
    border-bottom: 5px solid chartreuse;
    width: 300px;
    font-size: 40px;
}

.forest{
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    background-color: rgb(4, 59, 32);
    color: chartreuse;
    width: 100%;
    text-align: center;
}

footer h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contacts {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.email {
    margin-right: 30px;
}

.linkedin {
    margin-left: 30px;
    margin-right: 30px;
}

.github {
    margin-left: 30px;
}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin:hover, .github:hover, .email:hover {
    cursor: pointer;
    color: lightblue;
}

.project-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.important-project {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.less-important-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project {
    width: 200px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}